$grey-darker: rgb(24, 24, 24);
$white: rgb(255, 255, 255);
$green: rgb(6, 166, 166);
$dark: $grey-darker;
$light: $white;
$primary: $green;
$primary-invert: $white;
$info: $grey-darker;
$title-color: $primary;
$link: $primary;
$family-sans-serif: "Raleway", sans-serif;
$title-family: $family-sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
$body-family: $family-sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;
$text-strong: $grey-darker;
$footer-background-color: $light;
$footer-color: $dark;
$navbar-background-color: $grey-darker;
$navbar-height: 8rem;
$navbar-burger-color: $light;
$navbar-item-hover-color: $light;
$navbar-item-hover-background-color: $dark;
$navbar-item-color: $light;
$navbar-item-active-color: $primary;
$subtitle-color: $grey-darker;
$section-padding: $size-1 $size-4;
$button-padding-vertical: $size-7;
$button-padding-horizontal: $size-7;
$scheme-main: $light;
$scheme-invert: $dark;