@import "../variables";

@import "~bulma/sass/utilities/mixins";

.navbar {
  .navbar-burger {
    color: $light;
  }
  .navbar-logo {
    align-items: center;
    display: flex;
    line-height: 1.5;
    padding: ($size-6 / 2) $size-7;
  }
  .navbar-menu {
    .navbar-item {
      span {
        border-bottom: 4px solid $navbar-background-color;
      }
      &:hover {
        span {
          border-bottom-color: $primary;
          @include touch {
            border-bottom-color: $light;
          }
        }
        @include touch {
          background-color: $light;
          color: $dark;
        }
      }
      &.is-active {
        @include touch {
          background-color: $primary;
        }
      }
      @include touch {
        border-bottom-width: 0;
        background-color: $dark;
        color: $light;
      }
    }
  }
}
